/* comon sharred style */
.bth-primary{
    border-radius: 5px;
    background: orange;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 70px;
    padding: 15px 35px;
}
body{
    font-family: 'Lucida', sans-serif;
  font-family: 'open sans',sans-serif ;
}
   .text-primsry{
    color: orange;
   }

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-titl{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{display: flex;
    align-items: center;

}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
text-decoration: none;
color: #474747;
}
